/*---------- Polices ----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

/*---------- Variables ----------*/
:root {                               /*--- Root même comportement que html mais plus fort ---*/
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
}

/*---------- Body ----------*/
body {
	box-sizing: border-box;
	font-family: "Roboto";
}

	/*---------- Header mobile ----------*/
header h1 {
	text-align: center;
	width: 100%;
	font-family: "Shrikhand";	
	}

	/*---------- Form mobile ----------*/
form {
	text-align: center;
	margin: auto;
	padding: 20px 0 20px 0;
	width: 100%;
	background-color: #e7e7e7;	
}

.searchbar {
	border: none;
	background-color: #e7e7e7;
}

.searchbar:focus {
	outline: none;
}

.searchbar::placeholder {
	color: rgb(0, 0, 0);
	opacity: 1;	
}

/*---------- Welcom section ----------*/
.welcom_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f2f2;
	padding: 30px 0 50px 0;
}

.welcom_section h2{
	margin: 0;
	text-align: center;
}

.welcom_section p {
	margin: 30px 55px 30px 55px;
	text-align: center;
}

.welcom_section button {
	border: none;
	border-radius: 30px;
	padding: 20px;
	color: #ffffff;
	background-color: var(--primary);
}

/*---------- Main ----------*/
.working_section h2 {
	margin-left: 20px;
}

.working_list {
	padding: 0%;
}

.working_list li {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 8px 0 8px 0;
	box-shadow:0 5px 5px 5px #e7e7e7;
	width: 85%;
	background-color: #f2f2f2;
}

.working_number {
	border-radius: 100%;
	padding: 2px 6px;
	font-size: 12px;
	background-color: var(--primary);
	color: #ffffff;
	position: absolute;
	left: -9px;
}

.working_list .fa-solid {
	margin: 0 20px 0 30px;
	text-decoration: none;
	color: rgb(128, 128, 128)
}

.working_list p {
font-weight: 500;
}

.working_list li:hover {
	transition: 500ms;
	background-color: #deebff;
}

.working_list li:hover i.fa-solid {
	color: var(--primary);
}