/*---------- Polices ----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

/*---------- Variables ( Couleurs ) ----------*/
:root {                               /*--- Root même comportement que html mais plus fort ---*/
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
  --footer-color: #353535ff;
  --grey-background: #f2f2f2;
  --grey-shadow: #e7e7e7;
  --dark-grey-shadow: #c6c6c6;
  --blue-working: #deebff;
}
@keyframes scroll {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

/*---------- Body ----------*/
body {
	box-sizing: border-box;
	font-family: "Roboto";
  animation: scroll 6s ease-in-out;
}

/*---------- Loading spinner ----------*/
@keyframes rotate_needle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}
@keyframes flash {
  0% {
      color :#99E2D0;
      text-shadow: 0 0 7px #99E2D0;
  }
  33% {
      color :#FF79DA;
      text-shadow: 0 0 7px #FF79DA;
  }
  66% {
      color :#9356DC;
      text-shadow: 0 0 7px #9356DC;
  }
  100% {
      color :#99E2D0;
      text-shadow: 0 0 7px #99E2D0;
  }
}

@keyframes bouncer {
  from { transform: : translateY(0);}
  to { transform: translateY(-150px);}
}

@keyframes end-loader {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

.spinner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  animation: end-loader 1s 3s ease forwards;
}

.clock {
  position: relative;
  height: 120px;
  width: 120px;
  background: linear-gradient(var(--primary), var(--secondary));
  border: 6px solid var(--tertiary);
  border-radius: 50%;
  margin-bottom: 50px;
}

.center {
  position: absolute;
  top: 56px;
  right: 55px;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: #ffffff;
}

.big_needle {
  position: absolute;
  bottom: 7px;
  right: 58px;
  border-radius: 30px;
  width: 5px;
  height: 54px;
  background-color: #ffffff;
  animation: rotate_needle 1500ms infinite linear;
  transform-origin: top;
}

.little_needle {
  position: absolute;
  top: 58px;
  right: 21px;
  width: 40px;
  height: 5px;
  border-radius: 30px;
  background-color: #ffffff;
  animation: rotate_needle 15s infinite linear;
  transform-origin: left;
}

.loader {
  margin-bottom: 250px;
}

.lettre {
  color: #99E2D0;
  font-size: 80px;
  letter-spacing: 10px;
  font-family: "Shrikhand";
  animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.bouncer {
  display: flex;
}

.bouncer div {
  margin: 3px;
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}

.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}

.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

	/*---------- Header mobile ----------*/
header h1 {
	width: 100%;
	font-family: "Shrikhand";
  text-align: center;	
	}

	/*---------- Form mobile ----------*/
form {
	margin: auto;
	padding: 20px 0 20px 0;
	box-shadow: inset 0 8px 8px -3px var(--dark-grey-shadow);
  width: 100%;
	background-color: var(--grey-shadow);	
  text-align: center;
}

.searchbar {
	border: none;
	background-color: var(--grey-shadow);
  text-align: center;
}

.searchbar:focus {
	outline: none;
}

.searchbar::placeholder {
  position: relative;
	opacity: 1;	
  color: rgb(0, 0, 0);
}

/*---------- Main ----------*/
/*---------- Welcom section ----------*/
.welcom_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
  padding: 30px 0 50px 0;
	background-color: var(--grey-background);
}

.welcom_section h2{
	margin: 0;
  padding-bottom: 10px;
  width: 90%;
	text-align: center;
}

.welcom_section p {
	margin: 0;
  padding-bottom: 25px;
  width: 90%;
	text-align: center;
}

.welcom_section a {
	border: none;
	border-radius: 30px;
	padding: 18px 30px 18px 30px;
	text-decoration: none;
	color: #ffffff;
	background: linear-gradient(var(--primary), var(--secondary));
  box-shadow: 0 5px 5px 5px var(--grey-shadow);
}

.welcom_section a:hover {
  opacity: 0.7;
}

/*---------- Working section ----------*/
.working_section {
  margin-bottom: 70px;
}
.working_section h2 {
	margin: auto;
  padding-bottom: 10px;
	width: 90%;
}

.working_list {
	padding: 0%;
}

.working_list li {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: auto;
	margin-bottom: 25px;
	border-radius: 20px;
	padding: 8px 0 8px 0;
  width: 85%;
  cursor: pointer;
	box-shadow:0 5px 5px 5px var(--grey-shadow);
	background-color: var(--grey-background);
}

.working_number {
  position: absolute;
	left: -11px;
	border-radius: 100%;
	padding: 3px 8px;
	font-size: 18px;
	background-color: var(--primary);
	color: #ffffff;
}

.working_list .fa-solid {
	margin: 0 20px 0 30px;
	text-decoration: none;
	color: #808080
}

.working_list p {
font-weight: 500;
}

.working_list li:hover {
	transition: 500ms;
	background-color: var(--blue-working);
}

.working_list li:focus {
	transition: 500ms;
	background-color: var(--blue-working);
}

.working_list li:hover i.fa-solid {
	color: var(--primary);
}

/*---------- Article restaurant ----------*/
#restaurant {
  display: flex;
  flex-direction: column;
  padding: 50px 0 60px 0;
  width: 100%;
  background-color: var(--grey-background);
}

#restaurant h2 {
  margin: auto;
  width: 90%;
}

#restaurant a {
  text-decoration: none;
}

.cards {                  /*--- Cards des quatres restaurant ---*/
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border-radius: 30px;
  height: 300px;
  box-shadow:0 5px 5px 5px var(--grey-shadow);
  background-color: #ffffff;
}

.link_img {
  display: flex;
  height: 70%;
}

.cards img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cards h3 {
  margin: 20px 0 0 15px;
  color: #000000;
}

.cards p {
  margin: 5px 0 0 15px;
  color: #000000;
}

label {
  cursor: pointer;
}

.new {                   /*--- Etiquette "Nouveau" ---*/
  position: absolute;
  right: 15px; top: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 600;
  background-color: var(--grey-shadow);
  color: #868484;
}

figure i {
  position: absolute;
  right: 30px; bottom: 30px;
  font-size: 35px;
  cursor: pointer; 
}

.full-heart {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(var(--primary), var(--secondary));
  opacity: 0;
  font-size: 35px;
  font-weight: bolder;
  transform: scale(1);
  transition: all 1s ease;
}

.full-heart:hover {
  opacity: 1;
}

/*---------- Footer ----------*/
footer {
  background-color: var(--footer-color);
  color: #ffffff;
}

footer h2 {
  margin: 0;
  padding: 30px 0 20px 36px;
  font-size: 20px;
  font-family: "Shrikhand";
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer ul {
  margin: 0;
  padding-bottom: 30px;
  list-style-type: none;
}

footer li {
  padding-bottom: 10px;
}

.fa-utensils {
  padding-right: 15px;
}

.fa-handshake-angle {
  padding-right: 10px;
}

/*---------- CSS Pour les 4 pages "menu" ----------*/
.header_menu {
  position: relative;
}

.header_menu i {
  position: absolute;
  top: 10px; left: 20px;
  font-size: 25px;
}

.header_menu p{
  font-weight: bold;
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
}

.header_menu a {
  text-decoration: none;
  color: #000000;
}

/*------- Main -> Header -> Photo d'illustration -------*/
.img_menu {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  min-height: 360px;
}

.main_menu header {
  height: 300px;
}

/*---------- Article ----------*/
.article_menu {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 80px 80px 0 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--grey-background);
}

.article_menu h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 20px 0px 20px;
  font-family: 'Shrikhand';
}

.heart-menu {
  position: absolute;
  right: 50px;
  font-size: 35px;
}

.heart-full-menu {
  transform: scale(1);
  transition: all 1s ease;
  font-size: 35px;
  font-weight: bolder;
  background-image: linear-gradient(var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  color: transparent;
  cursor: pointer;
}

.heart-full-menu:hover {
  opacity: 1;
}

.section_menu {
  width: 100%;
}

.article_menu h2 {
  padding-left: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.article_menu h2::after {
  display: block;
  content: ".";
  border-bottom: 3px solid var(--tertiary);
  padding-top: 5px;
  width: 45px;
  font-size: 0;
}

.article_menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

/*----- Animations pour les menus -----*/
@keyframes progressive {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.first_list_menu {
  animation: progressive 1s ease-in-out both;
}

.second_list_menu {
  animation: progressive 1s 0.5s ease-in-out both;
}

.third_list_menu {
  animation: progressive 1s 1s ease-in-out both;
}

.article_menu li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
  border-radius: 18px;
  box-shadow: 5px 5px 3px var(--dark-grey-shadow);
  padding: 12px 0 15px 12px;
  width: 90%;
  overflow: hidden;
  background-color: #ffffff;
  cursor: pointer;
}

.text_menu {
  width: 68%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article_menu h3 {
  margin: 0;
  padding-bottom: 10px; 
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article_menu p {
  margin: 0 10px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article_menu b {
  display: block;
  padding-right: 20px;
  font-weight: bold;
}

.check_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0 18px 18px 0;
  right: -82px;
  top: 0px;
  height: 100%;
  width: 62px;
  background-color: var(--tertiary);
}

.check_menu i {
  font-size: 30px;
  color: #fff;
}
.article_menu li:hover {
  transform: scale(1.05);
}
.article_menu li:hover .check_menu {
  transition: all 700ms ease;
  transform: translate(-80px);
}

.article_menu li:hover i {
  transition: all 700ms ease;
  transform: rotate(1turn);
}

.article_menu li:hover b {
  transition: all 700ms ease;
  transform: translate(-50px);
}

.article_menu a {
  margin: auto;
  margin-bottom: 70px;
	border-radius: 30px;
	padding: 18px 50px 18px 50px;
  text-align: center;
	text-decoration: none;
	color: #ffffff;
	background: linear-gradient(var(--primary), var(--secondary));
  box-shadow: 0 5px 5px 5px var(--grey-shadow);
}

.article_menu a:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  #restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #restaurant h2 {
    padding-bottom: 80px;
    font-size: 30px;
    text-align: center;
  }

  .cards {
    margin: auto auto 50px auto;
    width: 45%;
  }

  footer h2 {
    padding-bottom: 60px;
    font-size: 25px;
    text-align: center;
  }

  footer ul {
    display: flex;
    justify-content:space-around;
  }

  footer li {
    width: 25%;
    text-align: center;
  }
}

/*-- Responsive desktop --*/
@media (min-width: 992px) {

  .article_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section_menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
    width: 33%;
  }

  .article_menu h1 {
    padding-bottom: 30px;
    width: 100%;
  }

  header h1 {
    font-size: 50px;
  }
  
  .working_section h2 {
    margin: auto;
    padding-bottom: 30px;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

  .working_list {
    display: flex;
    justify-content: space-around;
  }

  .working_list li {
    width: 25%;
  }

  footer h2 {
    font-size: 30px;
  }
}



